@use '@/shared/styles/variables.scss' as vars;
@use '@/shared/styles/mixins.scss' as mixins;

.section {
  padding: 80px 0;
}

.default {
  background-color: vars.$white;
}

.light {
  background-color: vars.$bg-light;
}

.dark {
  background-color: #333333;
  color: vars.$white;
}

.primary {
  background-color: vars.$primary-color;
  color: vars.$white;
}