@use '@/shared/styles/variables.scss' as vars;
@use '@/shared/styles/mixins.scss' as mixins;

.logo {
  font-weight: bold;
  color: vars.$primary-color;
  text-decoration: none;
  transition: vars.$transition-base;
  
  &:hover {
    color: vars.$primary-hover;
  }
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 32px;
}