@use '@/shared/styles/variables.scss' as vars;
@use '@/shared/styles/mixins.scss' as mixins;

.features {
  padding: 80px 0;
  background-color: vars.$white;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-size: 2rem;
  color: vars.$text-color;
  
  &::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: vars.$primary-color;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}