@use '@/shared/styles/variables.scss' as vars;
@use '@/shared/styles/mixins.scss' as mixins;

.testimonial {
  background-color: vars.$bg-light;
  border-radius: 8px;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.content {
  margin-bottom: 20px;
  font-style: italic;
  color: vars.$text-color;
  line-height: 1.6;
}

.quote {
  position: relative;
  padding: 0 20px;
  margin: 0;
  
  &::before,
  &::after {
    content: '"';
    font-size: 1.5rem;
    color: vars.$primary-color;
    position: absolute;
  }
  
  &::before {
    left: 0;
    top: 0;
  }
  
  &::after {
    right: 0;
    bottom: 0;
  }
}

.author {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
  color: vars.$text-color;
}

.profession {
  font-size: 0.9rem;
  color: #666;
}